@import 'tools';
@import 'sprite';

/*Test begin*/

/*调用Mixin*/
div{
	@include common;
}


/*继承*/
.message{
	padding:10px;
	color:purple;
}

.warning{
	border-color:yellow;
	@extend .message;
}

/*运算,e.g 栅格布局*/
.container{
	width:100%;  
}
article[role="main"]{
	float:left;
	width:600px / 960px * 100%;
}
aside[role="complementary"]{
	float:right;
	width:300px / 960px * 100%;
}

 
/*Test end*/