/*Swipe Style*/
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
    animation:another 3s ease 0s infinite;
}
.swiper-container {
    width: 100%;
    height: 100%;
    animation:arrow 2s ease 0s infinite;
}
#test{
    background-image:linear(top,#fff,#000);
}


@keyframes arrow
{
	from {background-position:100% 0%;}
	to {background-position:100% 100%}
}

@keyframes another{
    from{opacity:0;}
    to{opacity: 1;}
 }
